* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    width: 100vw;
    height: 70px;
    padding: 22px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav > img {
   width: 82px;
   height: 25px;
}

/* Hero Section */

.grid-container {
    padding: 50px;
    display: flex;
    justify-content: center;
    
}

.grid-container > img {
    width: 700px;
    height: 432px;
    
}

.hero-container > h1 {
    font-size: 80px;
    margin: 0 36px 32px 36px;
}

.hero-container > p {
    color: #222222;
    font-size: 25px;
    max-width: 415px;
    margin: 16px 36px;
}