* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    /* width: 100vw; */
    height: 70px;
    padding: 22px 30px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav > img {
   width: 82px;
   height: 25px;
}


/* Hero Section */
.grid-container {
    padding: 50px;
    display: flex;
    justify-content: center;    
}

.grid-container > img {
    width: 700px;
    height: 430px;   
}

.hero-container > h1 {
    font-size: 80px;
    margin: 0 36px 32px;
}

.hero-container > p {
    color: #222222;
    font-size: 25px;
    max-width: 700px;
    margin: 16px 36px;
}

/* Cards */
.card-container {
    padding: 20px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
}

.card-img {
    width: 210px;
    height: 270px;
    border-radius: 10px;
}

/* 
.card-info {
    margin-top: 6px;
    line-height: 22px;
    
} */

.card-stats {
    display: flex;
    align-items: center;
}

.star {
    width: 15px;
    height: 15px;
    margin: 0px 3px 2px 0px;
}

.grey {
    color:#918E9B;
    margin-left: 5px;
}

.card-title {
    max-width: 200px;
    word-wrap: break-word;
}

/* Card badge */
.card-badge {
    font-size: 15px;
    position: absolute;
    top: 28px;
    left: 27px;
    font-weight: bold;
    background-color: white;
    padding: 5px 8px;
    border-radius: 3px;
}

/* Card List */
.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}